.con-sec{
    background-color: #020924;
    display: flex;
    justify-content: center;
    gap: 2px;
    height: 500px;
    align-items: flex-start;
    margin-top: 20px;
    padding-top: 60px;
    padding-right: 80px;
    padding-left: -20px;
}

.web-info{
    background-color: #1E263F;
    align-items: center;
    height: 375px;
    width: 410px;
    margin-left: 90px;
    border-radius: 12px;
    
}

.web-info div{
    color: #4B4F58;
}

.web-info img{
    max-width: 180px;
    width: 100%;
    padding-left: 50px;
    padding-top: 35px;
}

.web-info p{
    text-align: center;
    margin: 0px 0px 8.5px;
    font-size: 17px;
    font-family: 'Open sans' , sans-serif;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 1.9rem;
}

.c-ser a{
    text-decoration: none;
    color: #ffffffb8;
    font-size: 17px;
    font-family: 'Open sans', sans-serif;
    padding-left: 2px;
}

.c-ser{
    background-color: #1E263F;
    align-items: center;
    height: 335px;
    width: 420px;
    margin-left: 20px;
    border-radius: 12px;
}

.c-ser hr{
    margin-top: 1000px;
    padding-left: 20px;
    width: 170px;
    height: 0.0001px;
    margin: 0;         
    border: none;  
    border-top: 1px solid #ffffffb8;
    margin-left: 40px;
    margin-bottom: 15px;
}

.c-ser li{
    color: #4B4F58;
}

.c-ser img{
    max-width: 15px;
    width: 100%;
    height: 15px;
}

.c-ser div{
    padding-left: 20px;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 9px;
    height: 10px;
    align-items: center;
    margin-left: 17px;
    
}

.c-ser h2{
    text-align: center;
    color: #fffff3;
    padding-top: 20px;
    margin-left: -110px;
}

.quick-links{
    background-color: #1E263F;
    align-items: center;
    height: 340px;
    width: 390px;
    margin-left: 20px;
    border-radius: 12px;
    padding-bottom: 10px;
}

.quick-links img{
    width: 15px;
    height: 15px;
}

.quick-links div{
    padding-left: 20px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
    height: 19px;
    align-items: center;
    
}

.quick-links h2{
    text-align: center;
    color: #fffff3;
    padding-top: 20px;
    margin-left: -110px;
}

.quick-links span{
    text-decoration: none;
    color: #ffffffb8;
    font-size: 17px;
    font-family: 'Open sans', sans-serif;
    padding-left: 2px;
}

.locate-us{
    background-color: #1E263F;
    align-items: center;
    height: 445px;
    width: 419px;
    margin-left: 20px;
    border-radius: 12px;
}

.locate-us h2{
    text-align: center;
    color: #fffff3;
    padding-top: 20px;
    margin-left: -110px;
}

.locate-us p{
    text-decoration: none;
    color: #ffffffb8;
    font-size: 17px;
    font-family: 'Open sans', sans-serif;
    padding-left: 20px;
}

.loc-det{
    padding-left: 20px;
    padding-inline: 20px;
}

.space{
    width: 20px;
    height: 2px;
}

.loc-num{
    background-color: #484F63;
    border-radius: 9px;
    border: 2px solid #575e72;
    width: 190px;
    height: 30px;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
    display: flex;
    justify-content: baseline;
    gap: 9px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 9px;
}

.loc-em{
    background-color: #484F63;
    border-radius: 9px;
    border: 2px solid #575e72;
    width: 200px;
    height: 30px;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
    display: flex;
    justify-content: baseline;
    gap: 9px;
    color: #fff;
    font-size: 13px;
}

.loc-num img , .loc-em img{
    width: 19px;
    height: 17px;
}

.loc-soci img{
    width: 23px;
    padding-left: 10px;
    padding-top: 8px;
}

.loc-soci div{
    background-color: #3F4A5E;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
}

.linkedin{
    background-color: #3F4A5E;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 20px;
}

.linkedin img{
    width: 23px;
    padding-left: 10px;
    padding-top: 8px;
}

.loc-soci{
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

@media (min-width: 1367px) {
    .con-sec {
        margin-left: -110px;
        height: 45vh;
    }
}

@media (min-width: 1367px) {
    .web-info {
        height: 360px;
        width: 470px;
    }
    .web-info img {
        width: 100%;
        max-width: fit-content;
    }
    .web-info p {
        width: 100%;
        max-width: 370px;
        text-align: center;
        padding-left: 50px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 28.9px;
        color: rgb(255, 255, 255);
    }
}

@media (min-width: 1367px) {
    .c-ser {
        width: 470px;
        height: 36vh;
    }
    .c-ser hr {
        width: 370px;
    }
    .c-ser h2 {
        font-family: Roboto, sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        color: rgb(255, 255, 255);
        padding-right: 190px;
    }
    .c-ser a {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.89);
    }
}

@media (min-width: 1367px) {
    .quick-links {
        width: 420px;
        height: 34vh;
    }
}

@media (min-width: 1367px) {
    .locate-us {
        width: 450px;
        height: 38vh;
    }
    .loc-soci {
        width: 100%;
    }
}

@media (min-width: 1216px) and (max-width: 1366px) {
    .con-sec {
        height: 48vh;
    }
    .web-info {
        max-width: 440px;
    }
    .c-ser {
        max-width: 450px;
    }
    .quick-links {
        max-width: 410px;
    }
    .locate-us {
        max-width: 430px;
    }
}

@media (min-width: 1093px) and (max-width: 1215px) {
    .con-sec {
        height: 50vh;
    }
    .web-info {
        max-width: 400px;
    }
    .c-ser {
        max-width: 420px;
    }
    .quick-links {
        max-width: 390px;
    }
    .locate-us {
        max-width: 400px;
    }
}

@media (min-width: 1024px) and (max-width: 1092px) {
    .con-sec {
        height: 55vh;
    }
    .web-info {
        max-width: 380px;
    }
    .c-ser {
        max-width: 400px;
    }
    .quick-links {
        max-width: 370px;
    }
    .locate-us {
        max-width: 380px;
    }
}

@media (min-width: 1517px) {
    .con-sec {
        height: 40vh;
        margin-left: 0px;
    }
    .web-info {
        max-width: 500px;
    }
    .c-ser {
        max-width: 500px;
    }
    .quick-links {
        max-width: 470px;
    }
    .locate-us {
        max-width: 470px;
    }
}
