.navbar {
  background: #ffffff;
  color: #0A2863;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  visibility: visible;
  height: 97px;
  z-index: 1000;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 95px; 
  display: block;
  margin-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 70px;
}

.nav-item {
  position: relative;
}

.nav-button {
  background: none;
  border: none;
  color: #0A2863;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35.14px;
  margin-top: 20px;
}

.nav-button:hover {
  color: red;
  border-top: solid red;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f8f8f8;
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown a {
  color: #0A2863;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background: #e0e0e0;
}

.about-us-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f8f8f8;
  width: 450px;
  height: 390px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding-left: 70px;
}

.about-us-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #e4f7fc;
  text-align: left;
  margin-right: 30px;
  margin-left: 40px;
}

.about-us-menu .dropdown-item:last-child {
  border-bottom: none;
}

.about-us-menu .dropdown-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  color: rgb(78, 78, 78);
  display: block;
}

.about-us-menu .dropdown-item a span {
  display: block;
  margin-top: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 17.4px;
  color: rgb(117, 117, 117);
}

.dropdown-item div{
  background-color: red !important;
  width: 900px;
}

.nav-button:hover .about-us-menu{
  display: block;
}

.about-us-menu .dropdown-item a:hover {
  background: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  width: 900px !important;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-left: -260px;
  border-top: solid red;
}

.mega-category {
  padding: 10px;
  background-color: #fbfbfb;
  margin-top: 30px;
  border-radius: 8px;
}

.mega-category img{
  width: 8px;
  height: 8px ; 
  object-fit: cover; 
}

.mega-category h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 10px;
  color: #2a2a2a;
}

.mega-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-category ul li {
  margin: 5px 0;
  text-align: left;
}

.mega-category ul li a {
  text-decoration: none;
  color: #81858b;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 24.65px;
  transition: transform 0.3s ease-in-out;
}

.mega-category ul li a:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.1);
  background-color: #e9e5e5;
}

.mega-menu .section-1, .mega-menu .section-4 {
  height: 150px;
  width: 260px;
  margin-bottom: -30px;
  text-align: left;
}
.mega-menu .section-4 {
  margin-top: -25px;
}
.mega-menu .section-2, .mega-menu .section-5 {
  height: 170px;
  width: 240px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.mega-menu .section-5 {
  margin-top: -5px;
}
.mega-menu .section-3, .mega-menu .section-6 {
  height: 185px;
  width: 290px;
  margin-bottom: -10px;
  margin-left: -40px;
}
.mega-menu .section-6 {
  margin-top: 9px;
}

.case-study-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white !important;
  width: 250px;
  display: block;
  flex-direction: column;
  padding: 10px;
  z-index: 10;
  border-top: solid red;
}

.case-study-menu a {
  color: #0A2863;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin-left: 10px;
  margin-bottom: -5px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.case-study-menu a:hover {
  color: red;
}

.products-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white !important;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: solid red;
  z-index: 10;
  margin-left: -30px;
}

.products-menu a {
  color: #0A2863;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 34.14px;
}

.products-menu a:hover {
  color: red;
}

.resources-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white !important;
  width: 190px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: solid red;
  z-index: 10;
  margin-left: -40px;
}

.resources-menu a {
  color: #0A2863;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.resources-menu a:hover {
  color: red;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-button svg {
  width: 10px;
  height: 10px;
  color: red;
}

.search-button:hover svg {
  color: #0A2863;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%; 
  max-width: 750px;
  height: 100vh;
  background: white !important;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto !important; 
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body {
  overflow: auto; 
}

.mobile-menu.active {
  transform: translateX(0); 
  overflow-y: scroll !important;
}

.mobile-menu::-webkit-scrollbar {
  display: none;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: #0A2863;
  cursor: pointer;
}

.mobile-menu .dropdown-container {
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.mobile-menu .nav-item.active .dropdown-container {
  display: flex;
}

.mobile-menu .dropdown-container a {
  padding: 10px;
  text-align: left;
  text-decoration: none;
  color: #0A2863;
  font-size: 14px;
}

.mobile-menu .dropdown-container a:hover {
  background: #e0e0e0 !important;
}

.close-button {
  position: absolute;
  top: -30px; 
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1101; 
  padding: 5px;
  padding-top: 40px;
  display: block !important;
}

.close-button svg {
  color: #0A2863;
}

.close-button:hover svg {
  color: red;
  cursor: pointer;
}

.mobile{
  display: none;
}

.mobile-search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
}

.mobile-search input {
  flex: 1;
  padding: 10px 40px 10px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.search-icon {
  position: absolute;
  right: 12px; 
  color: #666;
  display: flex;
  align-items: center;
  pointer-events: none; 
  border: none;
}

.search-icon svg {
  width: 18px;
  height: 18px;
}

.abt-us-mobile-item a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 3;
}

.chevron-icon {
  transform: rotate(-90deg); 
  margin-right: 8px; 
  color: black; 
}

.sign-up {
  background: #DA2124;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 549;
  line-height: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 125px;
  height: 45px;
  margin-left: -15px;
}

.sign-up:hover {
  background: black;
  cursor: pointer;
}

@media (max-width: 921px) {
    .menu {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        max-width: 750px;
        height: 100vh;
        background: white !important;
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        overflow-y: auto !important;
        overflow-x: hidden;
        color: black;
    }

    .mobile-menu.active {
        transform: translateX(0);
        overflow-y: scroll !important;
    }

    .mobile-menu .nav-item {
        width: 100%;
        text-align: left;
        padding: 10px 0;
        color: black;
    }

    .mega-menu .abt-us-mobile {
        color: black !important;
    }

    .mobile-menu .dropdown-container {
        display: none;
    }

    .mobile-menu .nav-item.active .dropdown-container {
        display: flex;
        flex-direction: column;
        position: static;
        background: none;
        box-shadow: none;
    }

    .mobile-menu .get-in-touch {
        margin-top: auto;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1366px) {
    .menu {
        margin-right: 60px;
    }
}

@media (min-width: 1367px) {
    .logo img {
        margin-left: -310px;
    }

    .menu {
        margin-right: -290px;
    }

    .dropdown-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #f8f8f8;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .nav-item:hover .dropdown-container {
        display: flex;
        flex-direction: column;
    }

    .nav-item:hover .mega-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 600px;
    }
}

@media (min-width: 1517px) {
    .navbar {
        height: 90px;
        padding: 12px;
    }

    .logo img {
        margin-left: -295px;
        height: 100px;
    }

    .menu {
        margin-right: -295px;
    }

    .mega-menu {
        width: 950px !important;
        margin-left: -250px;
    }

    .mega-category {
        width: 280px;
    }

    .mega-category h3 {
        font-size: 16px;
    }

    .mega-category ul li a {
        font-size: 14px;
    }

    .case-study-menu {
        width: 300px;
    }

    .products-menu {
        width: 180px;
    }

    .resources-menu {
        width: 220px;
    }
}
