
.tech-stack{
    background-color: #333232;
    height: 370px;
    padding-top: 0px;
    margin-top: -120px;
}

.tech-text{
    text-align: center;
    color: white;
    padding-top: 70px;
    font-weight: 500;
    font-size: 25px;
}

.custom-divider {
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 10px;             
    margin: 20px 0;          
  }
  
  .dot {
    max-width: 5px;
    width: 100%;             
    height: 5px;
    background-color: #2575FC;  
    border-radius: 50%;      
  }
  
  .rectangle {
    max-width: 40px;  
    width: 100%;           
    height: 5px;          
    background-color: #2575FC; 
    border-radius: 4px;
  }

  .tech-img{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
  
.tech-img img{
    max-width: 50px;
    width: 100%;
    padding-bottom: 70px;
}

.custom-divider2 {
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 10px;             
    margin: 20px 0; 
    padding-top: 10px;         
  }
  
  .dot1 {
    max-width: 5px;  
    width: 100%;           
    height: 5px;
    background-color: #2575FC;  
    border-radius: 50%;      
  }
  
  .rectangle2 {
    max-width: 40px;
    width: 100%;             
    height: 5px;          
    background-color: #2575FC; 
    border-radius: 4px;
  }