
.ind{
    padding-left: 99px;
    padding-right: 100px;
    margin-bottom: 40px;
}



.text h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #020F42;
    text-align: left;
    font-weight: 700;
    line-height: 40px; 
}

.text p{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.9px;
    color: rgb(75, 79, 88);
}

.ind-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-left: 5px;
    width: 80vw;
}

.ind-images div{
    align-items: center;
    max-width: calc(100% - 900px);
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.ind-images img {
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    padding-top: 20px;
    width: auto;
}


.ind-images p {
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #4B4F58;
    padding-left: 10px;
    font-weight: 600;
    line-height: 28.9px;
    color: rgb(75, 79, 88);
}


@media (min-width: 1517px) { /* 90% */
    .text {
        margin-left: 62px;
        margin-right: auto;
        max-width: 65vw;
        text-align: left;
    }

    .text h2{
        font-family: Roboto, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        color: rgb(2, 15, 66);
    }

    .text p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
    }

    .ind-images {
        width: 76vw;
        margin-left: 60px;
    }

    .ind-images p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
        width: 10vw;
        text-align: center;
        padding-left: 30px;
    }

    .ind-images div {
        height: 200px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
        max-width: calc(100% - 939px);
        width: 100%;
    }

    .ind-images img{
        width: auto;
        height: 10vh;
    }
}

@media (min-width: 1707px) { /* 80% */
    .text {
        margin-left: 170px;
        max-width: 60vw;
    }

    .text h2{
        font-family: Roboto, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        color: rgb(2, 15, 66);
    }

    .text p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
    }

    .ind-images {
        width: 67vw;
        margin-left: 157px;
    }

    .ind-images p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
        width: 10vw;
        text-align: center;
        padding-left: 10px;
    }

    .ind-images div {
        height: 200px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
        max-width: calc(100% - 944px);
        width: 100%;
    }

    .ind-images img{
        width: auto;
        height: 10vh;
    }
}

@media (min-width: 1821px) { /* 75% */
    .text {
        margin-left: 225px;
    }

    .ind-images {
        width: 63vw;
        margin-left: 218px;
    }

    .ind-images p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
        width: 10vw;
    }

    .ind-images div {
        height: 200px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
        max-width: calc(100% - 954px);
        width: 100%;
    }
}

@media (min-width: 2049px) { /* 67% */
    .text {
        margin-left: 360px;
    }

    .text h2{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        color: rgb(2, 15, 66);
    }

    .ind-images {
        width: 56vw;
        margin-left: 350px;
    }

    .ind-images p{
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 28.9px;
        color: rgb(75, 79, 88);
        width: 6vw;
        text-align: center;
        padding-left: 40px;
        margin-top: 10px;
    }

    .ind-images div {
        height: 230px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
        max-width: calc(100% - 944px);
        width: 100%;
    }

    .ind-images img{
        width: auto;
        height: 10vh;
    }
}
