.client-txt h2 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 20px;
  margin-top: 30px;
}

.client-txt p {
  text-align: center;
  font-size: 16px;
  color: #4B4F58;
  font-family: 'Open sans', sans-serif;
}

.custom-divider2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.dot1 {
  width: 5px;
  height: 5px;
  background-color: #2575FC;
  border-radius: 50%;
}

.rectangle2 {
  width: 40px;
  height: 5px;
  background-color: #2575FC;
  border-radius: 4px;
}

.client-img {
  overflow: hidden;
  width: 990px;
  margin: 0 auto;
  height: 125px;
}

.client-img-inner {
  display: flex;
  height: 100%;
}

.client-img img {
  width: 200px;
  margin-right: 80px;
}

@media(min-width: 1367px){
  .client-img{
    width: 1360px;
  }
  .client-img img{
    margin-right: 180px;
    width: 100%;
    max-width: 190px;
  }
}

@media (min-width: 1821px) {
  .client-img {
    width: 1160px;
    margin: 0 auto;
  }

  .client-img img {
    max-width: 180px;
    width: auto;
    height: 100px; 
    margin-right: 158px;
    object-fit: contain; 
  }
}

